.grid-products {
  opacity: 0;
}

.grid-products.is-ready {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.grid-product-card {
  margin-left: 0 !important;
}

button.hate-it {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px 7px;
  text-transform: uppercase;
  background: black;
  color: white;
  font-size: 9px;
  font-family: Arial;
  letter-spacing: 0.1em;
  cursor: pointer;
}